/* @font-face {
    font-family: prototype;
    src: url(font/Prototype.ttf);
} */

@import url('https://fonts.googleapis.com/css?family=Asul:400,700|Dosis|Merriweather:300,400|Raleway:200,300,400,600|Share+Tech|Ubuntu');

/*
font-family: 'Share Tech', sans-serif;
font-family: 'Asul', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Dosis', sans-serif; */

html,
body {
    /*overflow-y: hidden;*/
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-family: 'Share Tech', sans-serif;
}


/* Navigation */

nav {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;
    font-size: 1.25em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    margin: auto;
    position: relative;
}

.nichtbild {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 1.5em;
    text-decoration: none;
}

.nichtbild:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

li img {
    width: auto;
    padding-bottom: 0;
    padding-top: 0.75em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin: 0;
    height: 2.75em;
}


/* Navigation zuende */

h1,
h2,
p {
    margin: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 3em;
}

.welcome p {
    padding-top: 2em;
    padding-bottom: 2em;
}

div {
    position: relative;
    margin: 0 auto;
}

.text {
    height: 90vh;
}

.stand {
    padding-top: 9em;
    padding-left: 4em;
    padding-right: 4em;
}

.nix {
    /* height: 5em;
    Abstand für evtl. Video im Hintergrund!
    */
}

.welcome {
    text-align: center;
    padding-top: 6.5em;
    padding-left: 4em;
    padding-right: 4em;
}

#cam {
    max-width: 80vw;
    max-height: 60vh;
}

#pfeilunten {
    position: absolute;
    height: 3em;
    top: 75%;
    left: 50%;
    padding-bottom: 0;
    padding-top: 8em;
}

#pfeilunten:hover {
    opacity: 0.7;
}


/*Abschnitt eins*/

.one img {
    float: right;
    height: 40em;
    max-width: 80vw;
    max-height: 70vh;
    padding-top: 10em;
    padding-left: 2em;
}

.one p {
    font-size: 2em;
    padding-top: 6em;
}


/*Abschnitt eins Ende*/


/*Abschnitt zwei*/

.two img {

    max-height: 50vh;
    padding-top: 3em;
    display: block;
    margin: 0 auto;
}

.two p {
    font-size: 2em;
    padding-top: 2em;
    float: left;
}


/*Abschnitt zwei Ende*/

.three img {
    height: 30em;
    max-height: 50vh;
    padding-top: 3em;
    display: block;
    margin: 0 auto;
}

.three p {
    font-size: 2em;
    padding-top: 2em;
    float: left;
}


/* Abschnitt drei Ende*/

.four img {
    height: 30em;
    max-height: 50vh;
    padding-top: 3em;
    display: block;
    margin: 0 auto;
}

.four p {
    font-size: 2em;
    padding-top: 2em;
    float: left;
}


/* Abschnitt vier Ende*/

.five img {
    height: 30em;
    max-height: 50vh;
    padding-top: 3em;
    display: block;
    margin: 0 auto;
}

.five p {
    font-size: 2em;
    padding-top: 2em;
    float: left;
}


/* Abschnitt fuenf Ende*/
.six {
    height: 50vh;
}

.six p {
    font-size: 2em;
    padding-top: 2em;
    float: left;
}


/* Abschnitt sechs Ende*/

.seven {
    height: 50vh;
}
.seven h2 {
    padding-top: 1em;
}
.seven p {
    font-size: 2em;
    padding-top: 2em;
    float: left;
}


/* Abschnitt sieben Ende*/

#one {
    background-color: #E0B479;
    /*#D9E6B8;*/
    /*    #2EC78E;*/
    height: 0;
}

.one {
    background-color: #E0B479;
    color: white;
}

#two {
    background-color: #F7A844;
    /*#f47264*/
    /*#FF6445*/
    height: 0;
}

.two {
    background-color: #F7A844;
    color: white;
}

#three {
    background-color: #FA6C53;
    /*#DE831B*/
}

.three {
    background-color: #FA6C53;
    color: white;
}

#four {
    background-color: #FC5854;
    /*#4E5152*/
}

.four {
    background-color: #FC5854;
    color: white;
}

#five {
    background-color: #6E7059;
    /*#4E5152*/
}

.five {
    background-color: #6E7059;
    color: white;
}
.seven {
    background-color: #000;
    color: #FFF;
}

footer {
    color: dimgrey;
    text-align: center;
    padding-top: 1em;
    height: 3em;
}

@media screen and (max-width: 770px) {
    nav {
        position: relative;
    }
}


/* Center img:
    display: block;
    margin: 0 auto;
*/
